

#wrap{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.center{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width: 50%;
  height: 50px;
  margin-bottom: 30px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


input {
  width: 32%;
  height: 35px;
  font-size: 16px; /* 원하는 폰트 크기로 조정 */
  font-family: NanumSquare;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}

/* 선택적으로 다른 상태에 대한 스타일링을 추가할 수 있습니다 */

input:focus {
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
  border-color: #e64d2c; /* 원하는 포커스 시 테두리 색상으로 조정 */
  box-shadow: 0 0 3px #e64d2c; /* 원하는 포커스 시 그림자 효과 추가 */
}

input::placeholder {
  color: #999; /* 원하는 플레이스홀더 텍스트 색상으로 조정 */
}
#pw{
  margin: 15px 0;
}



/* 선택적으로 다른 상태에 대한 스타일링을 추가할 수 있습니다 */

button:hover {
  background-color: #d82800; 
}

button:focus {
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
  /* 원하는 포커스 상태의 스타일 추가 */
}
#login{
  width: 33%;
  height: 50px;
  padding: 0.5rem 0.75rem; /* 원하는 패딩 값으로 조정 */
  font-size: 1rem; /* 원하는 폰트 크기로 조정 */
  border: none; /* 기본 테두리 제거 */
  background-color: #e64d2c; 
  color: #FFF; /* 상위 요소의 텍스트 색상 상속 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 것을 나타냄 */
  border-radius: 4px; /* 원하는 테두리 반경 값으로 조정 */
  font-family: NanumSquare;
}
/* p{
  font-size: 30px;
  font-weight: 600;
} */

/* 테블릿 사이즈 */

@media all and (max-width:1230px) and (min-width:971px){
  .center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo{
    width: 50%;
    height: 70px;
    margin-bottom: 20px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
  }

  input {
    width: 45%;
    height: 35px;
    padding: 0.5rem 0.75rem; /* 원하는 패딩 값으로 조정 */
    font-size: 16px; /* 원하는 폰트 크기로 조정 */
    font-family: NanumSquare;
    border: none;
    border-bottom: 1px solid #bbbbbb;
  }

  #login{
    width: 47%;
    height: 50px;
  }
}

@media all and (max-width:970px) and (min-width:300px){
  
  .logo{
    width: 80%;
    height: 70px;
    margin-bottom: 20px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
  }

  input {
    width: 75%;
    height: 35px;
    padding: 0.5rem 0.75rem; /* 원하는 패딩 값으로 조정 */
    font-size: 16px; /* 원하는 폰트 크기로 조정 */
    font-family: NanumSquare;
    border: none;
    border-bottom: 1px solid #bbbbbb;
  }

  #login{
    width: 80%;
    height: 50px;
  }

}



