::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* 스크롤바의 트랙 스타일 설정 */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* 스크롤바의 슬라이더(막대) 스타일 설정 */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* 스크롤바의 슬라이더가 사용자에게 보여질 때 표시되는 스타일 설정 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}