.year-picker-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.year-picker-label {
  font-size: 1rem;
  font-weight: bold;
}

.year-picker-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  border: 1px solid rgba(57, 65, 80, 1);
  border-radius: 0.25rem;
  background-color: rgba(57, 65, 80, 1);
}

.selected-year {
  font-size: 1rem;
  margin-top: 0.5rem;
}